:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --link-color: #404bbf;
  --alternative-color: #f4f4fd;
  --description-color: #e7e9fc;
  --icon-color: #AFB1B8;
  --green-color: #31D0AA;
  --modal-bgr: #FCFCFC;

  --time-distibution: cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------- General styles ------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;

  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

img {
  display: block;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  padding: 0 16px;
  max-width: 428px;
  margin: 0 auto;
}

/* @media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin: 0 auto;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;

  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;
}

/*------------------- HEADER------------------- */



.page-header{
  padding: 24px 0;
  border-bottom: 1px solid var(--description-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin-left: 76px;
  }
}

/* @media screen and (min-width: 1200px) {
  .nav {
    gap: 76px;
  }
} */



.logo {
  font-family: "Raleway", sans-serif;
  /* padding: 24px 0; */
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin: 0;
}


.logo-accent {
  color: var(--accent-color);
}

/* @media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }
} */

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    gap: 40px;
  }
}


/* .site-nav {
  display: flex;
  align-items: center;
} */

/* @media screen and (min-width: 1200px) {
  .menu-nav {
    margin-right: 40px;
  }

  .menu-nav:last-child {
    margin-right: 0;
  }
} */

.nav-link{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.nav-link:hover,
.nav-link:focus {
  color: var(--link-color);
}

.current {
  color: var(--link-color);
  position: relative;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;

  background-color: var(--link-color);
  border-radius: 2px;
}


.contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contacts {
      margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    flex-direction: row;
    gap: 40px;
  }
}

.contact-link {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contact-link:hover,
.contact-link:focus {
  color: var(--link-color);
}

@media only screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .address {
    display: none;
  }
}


/*------------------- hero section --------------*/ 

.hero {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 0;
  background-color: var(--title-text-color);
  background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-phone@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width:496px;
    margin: 0 auto;

    color: var(--primary-white-color);
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
  }
}


.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;

  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border-color: transparent;

  transition-duration: 250ms;
  transition-timing-function: var(--time-distibution);
}

.button.primary {
  min-width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background: var(--link-color);
}


/*-------------------- Strategy section -------------------*/

.feature-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
  .feature-section {
      padding-top: 120px;
      padding-bottom: 120px;
    }
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    row-gap: 78px;
    column-gap: 24px;
    gap: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    flex-wrap: nowrap;
    gap: 24px;
    width: 1128px;
  }
}

.feature-item:not(:last-child) {
  max-width: 396px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .feature-item {
    margin-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
      width: calc((100% - 72px) / 4);
    }
}

.featurs-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .featurs-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 8px;
  }
}

.featurs-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .featurs-text {
    font-weight: 400;
    max-height: 72px;
  }
}

.feature-bg {
  display: none;
}

@media screen and (min-width: 1200px) {
.feature-bg{
  display: block;
  background-color: var(--alternative-color);
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}
}
/*----------------- Work section -----------------*/

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section {
  text-align: center;
  padding-top: 0;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.work-container{
  display: flex;
  flex-direction: column;
  flex-basis: 412px;
}

.work{
  display: flex;
  gap: 24px;
}


.work-item {
    display: flex;
    flex-basis: 360px;
  }

/*-------------------- Team section ----------------------*/


.work-title,
.team-title,
.customers-title  {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.team-section {
  background: var(--alternative-color);
  padding: 120px 0;
  text-align: center;
}

.team {
  text-align: center;
}


@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    gap: 24px;
  }
}


.team-item {
  width: 264px;
  margin: 0 auto;
  margin-bottom: 72px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-item:last-child{
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team-item {
    margin-bottom: 0;
    margin: 0;
  }
}


.card{
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

.team-subtitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.team-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);

  transition: background 250ms var(--time-distibution);
}

.social-icon {
  fill: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--link-color);
}

/*------------------ Customers section -----------------*/



.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #8e8f99;
  gap: 72px 16px;
}

/* @media only screen and (min-width: 480px) and (max-width: 1200px){
  .customers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
} */

@media only screen and (min-width: 768px)  {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
}


@media screen and (min-width: 1200px) {
  .customers-list {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     gap: 24px;
     margin-top: 72px;
    }
}


.customers-icon{
  fill: var(--icon-color);
  transition: fill 250ms var(--time-distibution);
}

@media screen and (max-width: 768px) {
  .customers-item {
  width: 168px;
  height: 88px;
  width: calc((100% - 16px) / 2);
  }
}
/* @media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 48px) / 4);
  }
} */


.client-link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #8E8F99;
  border-radius: 4px;

  transition: border 250ms var(--time-distibution);
}

 @media screen and (min-width: 768px) {
  .client-link {
    width: 168px;
    height: 88px;
   }
  }

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--link-color);
  outline: transparent;
}


.client-link:hover .customers-icon,
.client-link:focus .customers-icon
 {
  fill: var(--link-color);
}

/*-----------------Section Portfolio----------------*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 72px;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .filter-btn {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

.button.secondary {
  font-family: inherit;
  /* min-width: 116px; */
  padding: 12px 24px;
  color: var(--accent-color);
  background: var(--alternative-color);
  border: 1px solid var(--description-color);
  border-radius: 4px;
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--alternative-color);
  background: var(--link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  outline: transparent;
}

.photo-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: space-between;
}

.card-item{
  /* display: flex;
  flex-direction: column; */
  background: var(--primary-white-color);

  transition-duration: 250ms;
  transition-timing-function: var(--time-distibution);
}

@media screen and (max-width: 1200px) {
  .card-item {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);;
  }
}

@media screen and (min-width: 768px) {
  .card-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card-item {
    width: calc((100% - 48px) / 3);
  }
}

.photo-info{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--description-color);
  border-top: none;
}

.photo-subtitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.photo-text {
  color: var(--primary-text-color);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-color: var(--alternative-color);
  outline: transparent;
}

 /*-------------- overlay --------------*/

.type {
  position: relative;
  overflow: hidden;
}

.overlay {
  position:absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;

  background-color: var(--accent-color);

  padding: 40px 32px;
  transition: transform 250ms var(--time-distibution);
}

/*.card-item:hover .overlay{
  transform: translateX(0);
}*/

.card-link:hover .overlay,
.card-link:focus .overlay{
  transform: translateX(0);
}


.overlay-text {
  color: var(--alternative-color)
}


/*-------------------- Footer ----------------------*/




@media screen and (min-width: 1200px) {
  .footer {
  display: flex;
  align-items: flex-start;
  }
}

.page-footer{
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}


.footer-text {
  color: var(--description-color);
  width: 264px;
  margin-top: 16px;
}

.logo-second {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--alternative-color);
}

.footer-list{

}

@media screen and (max-width: 767px) {
  .footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    align-content: center;
  }
  .footer-list {
    text-align: center;
  }
  .footer-text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    gap: 24px
  }
}


@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
    gap: 120px
  }
}

.media-title, .subscribe-title{
  color: var(--primary-white-color);
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.media-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.media-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
  transition-timing-function: var(--time-distibution);

}

.media-icon {
  fill: var(--alternative-color);
}

.media-link:hover,
.media-link:focus {
  background-color: var(--green-color);
}

/* Subscribe block */


 .subscribe-block {
}  

@media screen and (min-width: 768px) {
  .subscribe-block {
      display: flex;
      align-items: flex-end;
      margin-top: 72px;
    }
}

@media screen and (min-width: 1200px) {
  .subscribe-block {
      display: flex;
      align-items: flex-end;
      margin-left: 80px;
      margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
  .subscribe-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 72px;
    text-align: center;
  }
}

.subscribe-input {
  /* border: 1px solid var(--primary-white-color); */
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  min-height: 40px;
  min-width: 264px;
  padding-left: 16px;
  color: var(--primary-white-color);
}

.subscribe-input::placeholder{
  color: rgba(255, 255, 255, 0.6);
  /* color: var(--primary-white-color); */
  font-weight: 400;
  font-size: 12px;
}


.subscribe-btn {
  display: flex;
  align-items: center;
  max-height: 40px;
  padding: 8px 24px;


  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus{
  background-color: var(--link-color);
}

@media screen and (min-width: 768px) {
  .subscribe-btn {
     margin-left: 24px;
  }
}

.sub-icon{
  fill: var(--primary-white-color);
  margin-left: 16px;
}


/*--------------MODAL WINDOW-------------------- */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 392px; */
  /* max-height: 596px; */

  background-color: var(--modal-bgr);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;

  transition: transform 250ms linear;
}


.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(0.6);
}


.modal-btn{
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background: var(--description-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.modal-btn:hover .btn-icon,
.modal-btn:focus .btn-icon {
  fill: var(--primary-white-color);}

.btn-icon {
  fill: var(--title-text-color);
}

.modal-title{
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.modal-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-group.com {
  margin-bottom: 0px;
}
/*.modal-group:not(:last-child){
  margin-bottom: 8px;
}*/

.modal-input{
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  width: 360px;
  padding: 8px 16px 8px 38px; 
  height: 40px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 430px) {
  .modal {
    max-width: 250px;
  }

  .modal-input {
    width: 202px;
  }
}

textarea{
  resize: none;
}

.input-wrapper{
  position: relative;
}

.modal-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment{
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  outline: transparent;
  margin-bottom: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-label{
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--accent-color);
}
  
.modal-input:hover,
.modal-input:focus
{
 border-color: var(--accent-color);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--accent-color);
}


.modal-checkbox{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-checkbox-label{display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: #757575;
}

.checkbox-text{
  align-items: center;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: #757575;
  margin-left: 8px;
}

.checkbox-link{
  align-items: center;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: var(--link-color);
}

.modal-checkbox-icon{
  fill: currentColor;
}

.modal-checkbox-custom{
  display: flex;
  align-items: center;
  justify-content: center;
  width:16px;
  height:16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: transparent;
}

.modal-checkbox-input:checked + .modal-checkbox-label > .modal-checkbox-custom {
  color: var(--alternative-color);
  background-color: var(--link-color);
}

.modal-button {
  display: block;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;

  width: 169px;
  height: 56px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--link-color);
}


/*-------------------- MENU----------------------- */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--primary-white-color);
    padding: 80px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-item-flex,
  .mobile-menu-adress-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
  }

  .mobile-menu-adress-flex {
    margin-top: auto;
  }

  .mobile-menu-adress-flex {
    margin-bottom: 48px;
  }

  .mobile-menu-contact-phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 40px;
  }

  .mobile-menu-contact-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
  }

  .mobile-menu-social-list {
    justify-content: space-between;
  }

  .media-bottom {
    margin-bottom: auto;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }

 .active{
  color: var(--link-color);
    }
  
  .mobile-ico{
    fill: var(--title-text-color);
  }
 }


.mobile-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  order: 2;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.media-icon-mn {
  fill: var(--alternative-color);
}

.media-link-mn:hover,
.media-link-mn:focus {
  background-color: var(--green-color);
}

.media-link-mn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--time-distibution);
}

.menu-list{
  gap: 56px;
}

@media screen and (max-width: 426px) {
  .menu-list {
   gap: 24px;
  }

  .mobile-menu-contact-phone{
    font-size: 24px;
  }
}